html{
    height: 100%;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
background-color: gainsboro;    display: flex;
justify-content: center;
height: 100vh;
align-items: center;

}
.container{
    background-color: white;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0 ,0,0.3);
    overflow: hidden;
}
.month-name{
    margin: 0;
    background-color: orangered;
    color: white;
    padding: 10px;
    font-size: 30px;
    font-weight: bolder;

}
.day-name{
    font-size: 20px;
    color: darkcyan;

}
.day-number{
    font-size: 70px;
    margin: 0;
    font-weight: bold;

}
.year{
    margin: 20px;
    font-size: 20px;
    color: darkcyan;
    font-weight: 500;
}
